<a href="https://colab.research.google.com/github/khyati0812/DSACodebasics/blob/main/BubbleSortQuickSort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [1,4,6,9,11,15,15,15,17,21,34,34,56]
number_to_find = 15

In [ ]:
def firstOcc(numbers,number_to_find):
  low=0
  high=len(numbers)-1
  ans=-1
  while low<=high:
    mid=(low+high)>>1
    if numbers[mid]==number_to_find:
      ans=mid
      high=mid-1
    elif numbers[mid]<number_to_find:
      low=mid+1
    else:
      high=mid-1
  return ans

In [ ]:
def lastOcc(numbers,number_to_find):
  low=0
  high=len(numbers)-1
  ans=-1
  while low<=high:
    mid=(low+high)>>1
    if numbers[mid]==number_to_find:
      ans=mid
      low=mid+1
    elif numbers[mid]<number_to_find:
      low=mid+1
    else:
      high=mid-1
  return ans

In [ ]:
firstOccurence=firstOcc(numbers=numbers,number_to_find=number_to_find)
lastOccurence=lastOcc(numbers=numbers,number_to_find=number_to_find)
st=[]
for i in range(firstOccurence,lastOccurence+1):
  st.append(i)
st

[5, 6, 7]

In [ ]:
def bubble_sort(elements):
    size = len(elements)

    for i in range(size-1):
        swapped = False
        for j in range(size-1-i):
            if elements[j] > elements[j+1]:
                tmp = elements[j]
                elements[j] = elements[j+1]
                elements[j+1] = tmp
                swapped = True

        if not swapped:
            break


if __name__ == '__main__':
    elements = [5,9,2,1,67,34,88,34]
    elements = [1,2,3,4,2]
    elements = ["mona", "dhaval", "aamir", "tina", "chang"]

    bubble_sort(elements)
    print(elements)

['aamir', 'chang', 'dhaval', 'mona', 'tina']

In [ ]:
elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]

In [ ]:
type(elements[0])

dict

In [ ]:
elements[0]["transaction_amount"]

1000

In [ ]:

def bubble_sort(elements,key="transaction_amount"):
  n=len(elements)

  for i in range(n-1):
    for j in range(n-i-1):

      if (elements[j][key]>elements[j+1][key]):

        temp=elements[j];
        elements[j]=elements[j+1]
        elements[j+1]=temp

[{'name': 'kathy', 'transaction_amount': 200, 'device': 'vivo'},
 {'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'},
 {'name': 'aamir', 'transaction_amount': 800, 'device': 'iphone-8'},
 {'name': 'mona', 'transaction_amount': 1000, 'device': 'iphone-10'}]

In [ ]:
bubble_sort(elements, key='transaction_amount')

In [ ]:
bubble_sort(elements, key='name')
elements

[{'name': 'aamir', 'transaction_amount': 800, 'device': 'iphone-8'},
 {'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'},
 {'name': 'kathy', 'transaction_amount': 200, 'device': 'vivo'},
 {'name': 'mona', 'transaction_amount': 1000, 'device': 'iphone-10'}]

In [ ]:
def swap(x,y):
  x,y=y,x

In [ ]:
def partition(elements, low, high):
  pivot=elements[len(elements)-1]
  pivotIndex=0
  i=0
  print(pivot)
  while pivotIndex<len(elements):
    while(pivotIndex<len(elements)-1 and elements[pivotIndex]<pivot):
      pivotIndex+=1
      print(pivotIndex)
    i=pivotIndex
    while(i<len(elements)-1 and elements[i]>=pivot) :
      i+=1
      print(i)
    if i==len(elements)-1:
      break

    if i!=pivotIndex:
     swap(elements[i],elements[pivotIndex])
    else:
      break

  swap(elements[i],pivot)
  return i

In [ ]:
def partition(elements, low, high):
    pivotIndex = low
    pivot = elements[high]  # Use the high index as the pivot
    start = pivotIndex

    while start < high:
        while pivotIndex < high and elements[pivotIndex] <= pivot:
            pivotIndex += 1
        start = pivotIndex
        while start < high and elements[start] > pivot:
            start += 1
        if start < high and start != pivotIndex:
            elements[pivotIndex], elements[start] = elements[start], elements[pivotIndex]
        else:
            break

    elements[pivotIndex], elements[high] = elements[high], elements[pivotIndex]  # Swap the pivot with pivotIndex
    return pivotIndex

In [ ]:
def quick_sort(elements, low, high):
  if(low<high):
    p=partition(elements,low,high)
    quick_sort(elements,low,p-1)
    quick_sort(elements,p+1,high)

In [ ]:
elements=[0,1,2,3,4,5,6,7,8]
quick_sort(elements,0,8)
elements

[0, 1, 2, 3, 4, 5, 6, 7, 8]