<a href="https://colab.research.google.com/github/khyati0812/DSACodebasics/blob/main/SelectionSort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# def selection_sort(arr,n,index,keys):
#   for i in range(0,n):
#     min=i
#     for j in range(i+1,n):
#       if index==0:
#         if arr[j][keys[index]]<arr[min][keys[index]]:
#           min=j
#       elif index>0:
#         if arr[j][keys[index]]<arr[min][keys[index]] and arr[j][keys[index-1]]<=arr[min][keys[index-1]]:
#           min=j
#     arr[min],arr[i]=arr[i],arr[min]

In [34]:
def selection_sort(arr, n, index, keys):
    for i in range(n):
        min_idx = i
        for j in range(i + 1, n):
            # Compare primary key
            if index==0 and arr[j][keys[index]] < arr[min_idx][keys[index]]:
                min_idx = j
            # If primary keys are equal, compare secondary key if applicable
            elif arr[j][keys[index]] < arr[min_idx][keys[index]] and index > 0:
                if arr[j][keys[index - 1]] < arr[min_idx][keys[index - 1]]:
                    min_idx = j
        # Swap the found minimum element with the first element
        arr[i], arr[min_idx] = arr[min_idx], arr[i]

In [36]:
def multi_level_sort(arr, keys):
    def selection_sort(arr, n, index):
        for i in range(n):
            min_idx = i
            for j in range(i + 1, n):
                # Compare elements based on the current key
                if arr[j][keys[index]] < arr[min_idx][keys[index]]:
                    min_idx = j
                # If primary keys are equal, compare using next key if applicable
                elif arr[j][keys[index]] == arr[min_idx][keys[index]] and index > 0:
                    if arr[j][keys[index - 1]] < arr[min_idx][keys[index - 1]]:
                        min_idx = j
            # Swap the found minimum element with the current element
            arr[i], arr[min_idx] = arr[min_idx], arr[i]

    # Perform sorting for each key in the given order
    for i in range(len(keys) - 1, -1, -1):
        selection_sort(arr, len(arr), i)

# Example usage
elements = [
    {'First Name': 'Raj', 'Last Name': 'Nayyar', 'x': 76},
    {'First Name': 'Suraj', 'Last Name': 'Sharma', 'x': 89},
    {'First Name': 'Karan', 'Last Name': 'Kumar', 'x': 90},
    {'First Name': 'Jade', 'Last Name': 'Canary', 'x': 45},
    {'First Name': 'Raj', 'Last Name': 'Thakur', 'x': 62},
    {'First Name': 'Raj', 'Last Name': 'Sharma', 'x': 34},
    {'First Name': 'Kiran', 'Last Name': 'Kamla', 'x': 58},
    {'First Name': 'Armaan', 'Last Name': 'Kumar', 'x': 71},
    {'First Name': 'Jaya', 'Last Name': 'Sharma', 'x': 80},
    {'First Name': 'Ingrid', 'Last Name': 'Galore', 'x': 53},
    {'First Name': 'Jaya', 'Last Name': 'Seth', 'x': 67},
    {'First Name': 'Armaan', 'Last Name': 'Dadra', 'x': 49},
    {'First Name': 'Ingrid', 'Last Name': 'Maverick', 'x': 37},
    {'First Name': 'Aahana', 'Last Name': 'Arora', 'x': 92}
]
keys=['First Name','Last Name','x']

multi_level_sort(elements, keys)

# Print sorted list
for item in elements:
    print(item)

{'First Name': 'Aahana', 'Last Name': 'Arora', 'x': 92}
{'First Name': 'Armaan', 'Last Name': 'Dadra', 'x': 49}
{'First Name': 'Armaan', 'Last Name': 'Kumar', 'x': 71}
{'First Name': 'Ingrid', 'Last Name': 'Galore', 'x': 53}
{'First Name': 'Ingrid', 'Last Name': 'Maverick', 'x': 37}
{'First Name': 'Jade', 'Last Name': 'Canary', 'x': 45}
{'First Name': 'Jaya', 'Last Name': 'Seth', 'x': 67}
{'First Name': 'Jaya', 'Last Name': 'Sharma', 'x': 80}
{'First Name': 'Karan', 'Last Name': 'Kumar', 'x': 90}
{'First Name': 'Kiran', 'Last Name': 'Kamla', 'x': 58}
{'First Name': 'Raj', 'Last Name': 'Nayyar', 'x': 76}
{'First Name': 'Raj', 'Last Name': 'Sharma', 'x': 34}
{'First Name': 'Raj', 'Last Name': 'Thakur', 'x': 62}
{'First Name': 'Suraj', 'Last Name': 'Sharma', 'x': 89}

In [43]:
def multilevel_selection_sort(elements, sort_by_list):
    for sort_by in sort_by_list[-1::-1]:
        for x in range(len(elements)):
            min_index = x
            for y in range(x, len(elements)):
                if elements[y][sort_by] < elements[min_index][sort_by]:
                    min_index = y
            if x != min_index:
                elements[x], elements[min_index] = elements[min_index], elements[x]
        # print(f'Array after Multi-Level Sorting:', *elements, sep='\n')
elements = [
    {'First Name': 'Raj', 'Last Name': 'Nayyar', 'x': 76},
    {'First Name': 'Suraj', 'Last Name': 'Sharma', 'x': 89},
    {'First Name': 'Karan', 'Last Name': 'Kumar', 'x': 90},
    {'First Name': 'Jade', 'Last Name': 'Canary', 'x': 45},
    {'First Name': 'Raj', 'Last Name': 'Thakur', 'x': 62},
    {'First Name': 'Raj', 'Last Name': 'Sharma', 'x': 34},
    {'First Name': 'Kiran', 'Last Name': 'Kamla', 'x': 58},
    {'First Name': 'Armaan', 'Last Name': 'Kumar', 'x': 71},
    {'First Name': 'Jaya', 'Last Name': 'Sharma', 'x': 80},
    {'First Name': 'Ingrid', 'Last Name': 'Galore', 'x': 53},
    {'First Name': 'Jaya', 'Last Name': 'Seth', 'x': 67},
    {'First Name': 'Armaan', 'Last Name': 'Dadra', 'x': 49},
    {'First Name': 'Ingrid', 'Last Name': 'Maverick', 'x': 37},
    {'First Name': 'Aahana', 'Last Name': 'Arora', 'x': 92}
]
keys=['First Name','Last Name','x']
multilevel_selection_sort(
        elements, keys)
elements

[{'First Name': 'Aahana', 'Last Name': 'Arora', 'x': 92},
 {'First Name': 'Armaan', 'Last Name': 'Dadra', 'x': 49},
 {'First Name': 'Armaan', 'Last Name': 'Kumar', 'x': 71},
 {'First Name': 'Ingrid', 'Last Name': 'Galore', 'x': 53},
 {'First Name': 'Ingrid', 'Last Name': 'Maverick', 'x': 37},
 {'First Name': 'Jade', 'Last Name': 'Canary', 'x': 45},
 {'First Name': 'Jaya', 'Last Name': 'Seth', 'x': 67},
 {'First Name': 'Jaya', 'Last Name': 'Sharma', 'x': 80},
 {'First Name': 'Karan', 'Last Name': 'Kumar', 'x': 90},
 {'First Name': 'Kiran', 'Last Name': 'Kamla', 'x': 58},
 {'First Name': 'Raj', 'Last Name': 'Nayyar', 'x': 76},
 {'First Name': 'Raj', 'Last Name': 'Sharma', 'x': 34},
 {'First Name': 'Raj', 'Last Name': 'Thakur', 'x': 62},
 {'First Name': 'Suraj', 'Last Name': 'Sharma', 'x': 89}]

In [44]:
def shell_sort(arr):
    size = len(arr)
    gap = size//2

    while gap > 0:
        for i in range(gap,size):
            anchor = arr[i]
            j = i
            while j>=gap and arr[j-gap]>anchor:
                arr[j] = arr[j-gap]
                j -= gap
            arr[j] = anchor
        gap = gap // 2
if __name__ == '__main__':
    tests = [
        [89, 78, 61, 53, 23, 21, 17, 12, 9, 7, 6, 2, 1],
        [],
        [1,5,8,9],
        [234,3,1,56,34,12,9,12,1300],
        [5]
    ]
    elements = [89,78,61,53,23,21,17,12,9,7,6,2,1]
    for elements in tests:
        shell_sort(elements)
        print(elements)

[1, 2, 6, 7, 9, 12, 17, 21, 23, 53, 61, 78, 89]
[]
[1, 5, 8, 9]
[1, 3, 9, 12, 12, 34, 56, 234, 1300]
[5]

In [6]:
arr=[1,291,1,29,12,73,98,182,517]
selection_sort(arr,9)
arr

[1, 1, 12, 29, 73, 98, 182, 291, 517]

In [16]:
elements=[
    {'First Name': 'Raj', 'Last Name': 'Nayyar'},
    {'First Name': 'Suraj', 'Last Name': 'Sharma'},
    {'First Name': 'Karan', 'Last Name': 'Kumar'},
    {'First Name': 'Jade', 'Last Name': 'Canary'},
    {'First Name': 'Raj', 'Last Name': 'Thakur'},
    {'First Name': 'Raj', 'Last Name': 'Sharma'},
    {'First Name': 'Kiran', 'Last Name': 'Kamla'},
    {'First Name': 'Armaan', 'Last Name': 'Kumar'},
    {'First Name': 'Jaya', 'Last Name': 'Sharma'},
    {'First Name': 'Ingrid', 'Last Name': 'Galore'},
    {'First Name': 'Jaya', 'Last Name': 'Seth'},
    {'First Name': 'Armaan', 'Last Name': 'Dadra'},
    {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
    {'First Name': 'Aahana', 'Last Name': 'Arora'}
]
selection_sort(elements,14,key="First Name")
elements
selection_sort(elements,14,key="Last Name")
elements

[{'First Name': 'Aahana', 'Last Name': 'Arora'},
 {'First Name': 'Armaan', 'Last Name': 'Dadra'},
 {'First Name': 'Armaan', 'Last Name': 'Kumar'},
 {'First Name': 'Ingrid', 'Last Name': 'Galore'},
 {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
 {'First Name': 'Jade', 'Last Name': 'Canary'},
 {'First Name': 'Jaya', 'Last Name': 'Seth'},
 {'First Name': 'Jaya', 'Last Name': 'Sharma'},
 {'First Name': 'Karan', 'Last Name': 'Kumar'},
 {'First Name': 'Kiran', 'Last Name': 'Kamla'},
 {'First Name': 'Raj', 'Last Name': 'Nayyar'},
 {'First Name': 'Raj', 'Last Name': 'Sharma'},
 {'First Name': 'Raj', 'Last Name': 'Thakur'},
 {'First Name': 'Suraj', 'Last Name': 'Sharma'}]

In [27]:
elements=[
    {'First Name': 'Raj', 'Last Name': 'Nayyar','x':76},
    {'First Name': 'Suraj', 'Last Name': 'Sharma','x':89},
    {'First Name': 'Karan', 'Last Name': 'Kumar','x':90},
    {'First Name': 'Jade', 'Last Name': 'Canary'},
    {'First Name': 'Raj', 'Last Name': 'Thakur'},
    {'First Name': 'Raj', 'Last Name': 'Sharma'},
    {'First Name': 'Kiran', 'Last Name': 'Kamla'},
    {'First Name': 'Armaan', 'Last Name': 'Kumar'},
    {'First Name': 'Jaya', 'Last Name': 'Sharma'},
    {'First Name': 'Ingrid', 'Last Name': 'Galore'},
    {'First Name': 'Jaya', 'Last Name': 'Seth'},
    {'First Name': 'Armaan', 'Last Name': 'Dadra'},
    {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
    {'First Name': 'Aahana', 'Last Name': 'Arora'}
]

In [35]:
elements = [
    {'First Name': 'Raj', 'Last Name': 'Nayyar', 'x': 76},
    {'First Name': 'Suraj', 'Last Name': 'Sharma', 'x': 89},
    {'First Name': 'Karan', 'Last Name': 'Kumar', 'x': 90},
    {'First Name': 'Jade', 'Last Name': 'Canary', 'x': 45},
    {'First Name': 'Raj', 'Last Name': 'Thakur', 'x': 62},
    {'First Name': 'Raj', 'Last Name': 'Sharma', 'x': 34},
    {'First Name': 'Kiran', 'Last Name': 'Kamla', 'x': 58},
    {'First Name': 'Armaan', 'Last Name': 'Kumar', 'x': 71},
    {'First Name': 'Jaya', 'Last Name': 'Sharma', 'x': 80},
    {'First Name': 'Ingrid', 'Last Name': 'Galore', 'x': 53},
    {'First Name': 'Jaya', 'Last Name': 'Seth', 'x': 67},
    {'First Name': 'Armaan', 'Last Name': 'Dadra', 'x': 49},
    {'First Name': 'Ingrid', 'Last Name': 'Maverick', 'x': 37},
    {'First Name': 'Aahana', 'Last Name': 'Arora', 'x': 92}
]
keys=['First Name','Last Name','x']
for i in range(0,len(keys)):
  print(i)
  selection_sort(elements,14,i,keys)
print(elements)

0
1
2
[{'First Name': 'Aahana', 'Last Name': 'Arora', 'x': 92}, {'First Name': 'Jade', 'Last Name': 'Canary', 'x': 45}, {'First Name': 'Armaan', 'Last Name': 'Dadra', 'x': 49}, {'First Name': 'Ingrid', 'Last Name': 'Galore', 'x': 53}, {'First Name': 'Ingrid', 'Last Name': 'Maverick', 'x': 37}, {'First Name': 'Kiran', 'Last Name': 'Kamla', 'x': 58}, {'First Name': 'Jaya', 'Last Name': 'Seth', 'x': 67}, {'First Name': 'Armaan', 'Last Name': 'Kumar', 'x': 71}, {'First Name': 'Karan', 'Last Name': 'Kumar', 'x': 90}, {'First Name': 'Raj', 'Last Name': 'Nayyar', 'x': 76}, {'First Name': 'Raj', 'Last Name': 'Sharma', 'x': 34}, {'First Name': 'Raj', 'Last Name': 'Thakur', 'x': 62}, {'First Name': 'Jaya', 'Last Name': 'Sharma', 'x': 80}, {'First Name': 'Suraj', 'Last Name': 'Sharma', 'x': 89}]